<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://192.6.3.4:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/WebApp003</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>mis</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApp003.Models.ApplicationDbContext, WebApp003" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GFCDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=192.6.3.12:9092;Initial Catalog=GFCDB;Persist Security Info=True;User ID=mis;Password=mis1415" Name="Database=GFCDB;User ID=mis;Password=mis1415;Server=192.6.3.12:9092;Persist Security Info=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApp003.Models.GFCDBEntities, WebApp003" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NorthwindEntities" Order="3" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApp003.Models.NorthwindEntities, WebApp003" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GFCDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=IBM.Data.DB2;provider connection string="Database=GFCDB;User ID=mis;Password=mis1415;Server=192.6.3.12:9092;Persist Security Info=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NorthwindEntities-Web.config Connection String" />
  </ItemGroup>
</Project>